:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  border: 1px solid red;
  min-width: 320px;
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region header */
.page-header {
}

.page-header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.logo-link {
  font-weight: 700;
  letter-spacing: -0.03em;
  display: inline-flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  gap: 4px;
  font-size: 14px;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .logo-link {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

.logo-part {
  font-style: italic;
}

.logo-link-img {
  width: 24px;
  height: 24px;
}
.burger-btn {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}
.burger-icon {
  stroke: var(--black);
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 20px;
  }
}
.header-nav-list-item {
}

.header-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-link:hover,
.logo-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--orange);
}

.social-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .social-list {
    display: flex;
    gap: 14px;
    margin-left: 28px;
  }
}
.social-list-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  transition: color var(--animation), border var(--animation);
}

.social-link:hover,
.social-link:focus {
  border: 1px solid rgba(253, 146, 34, 0.1);
  color: var(--orange);
}

.social-img {
  fill: currentColor;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  transform: translateX(100%);
  transition: transform var(--animation);
  padding: 136px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
}

.mobile-menu-close-icon {
  stroke: var(--white);
}
.mobile-menu-nav-list {
}
.mobile-menu-list-item {
}
.mobile-menu-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}
.mobile-menu-link.active {
  color: #fd9222;
}
.mobile-social-list {
  display: flex;
  gap: 14px;
}
.mobile-social-list-item {
  width: 40px;
  height: 40px;
}
.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.mobile-social-img {
  fill: var(--white);
}
/* #endregion header */
/* #region Hero */
.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 380px;
  padding-bottom: 40px;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  width: 484px;
  margin-bottom: 32px;
}

.btn-buy,
.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.btn-buy {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  border-radius: 100px;
  width: 144px;
  height: 45px;
  margin-right: 14px;
}

.hero-link {
  border: 1px solid #fff;
  border-radius: 100px;
  width: 183px;
  height: 45px;
  display: inline-block;
  padding-top: 14px;
  padding-left: 40px;
  margin-right: 570px;
}

.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active {
  background-color: var(--beige);
  color: #fd9222;
}

.hero-scroll {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-scrol-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: var(--white);
  color: var(--orange);
}

.hero-scroll:hover .hero-scrol-icon,
.hero-scroll:focus .hero-scrol-icon {
  background-color: var(--orange);
  color: var(--white);
}

.hero-scrol-icon svg {
  fill: currentColor;
}

.hero-link:hover,
.hero-link:focus,
.hero-link:active,
.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}

/* #endregion Hero */

/* #region Benefits */
.benefits {
  background-color: var(--violet);
  padding-top: 50px;
  padding-bottom: 50px;
}

/* .benefits-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color:var(--black);
} */

.benefits-list {
  display: flex;
  gap: 88px;
}

.benefits-list-item {
  width: calc((100% - 2 * 88px) / 3);
  position: relative;
}

.benefits-list-item:not(:first-child):before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 124px;
  position: absolute;
  top: 63px;
  left: -44px;
}

.icon-wraper {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white);
  margin-bottom: 18px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* #endregion Benefits */

/* #region Taste */
.taste {
  padding-top: 120px;
  padding-bottom: 60px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-title-part {
  color: #fd9222;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.taste-list-item {
  width: calc((100% - 96px) / 4);
  padding: 28px 23px;
  border-radius: 15px;
}

.taste-list-item:nth-child(2n) {
  background-color: var(--white);
  border: 1px solid #fd9222;
}

.taste-list-item:nth-child(4n + 1) {
  background: #fd9222;
  color: var(--white);
}

.taste-list-item:nth-child(4n + 3) {
  background: #1e1823;
  color: var(--white);
}

/*  */

.taste-img {
  width: 214px;
  height: 160px;
  margin-bottom: 36px;
}

.taste-list-item-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* #endregion Taste */

/* #region Made */
.made {
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.made-img {
  width: 600px;
  height: 400px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.made-list {
  list-style-type: disc;
}

.made-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* #endregion Made */

/* #region Products */
.products {
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.products-list {
}

.products-list-item {
}

.products-img {
  width: 230px;
  /* height: 201px; */
}

.products-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-list-item-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-list-item-link {
  font-weight: 600;
  font-size: 14px;
}

/* #endregion Products */

/* #region Sellers */
.sellers {
}

.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-list-item {
  width: 368px;
}

.sellers-img {
  width: 368px;
  height: 464px;
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  padding: 28px 0;
  text-align: center;
}

.overley {
  position: relative;
  overflow: hidden;
}

.overley-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--light);
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  width: 100%;
  height: 100%;
  padding-top: 178px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.sellers-list-item:hover .overley-text {
  transform: translateY(0);
}

/* #endregion Sellers */

/* #region Chocolove */
.chocolove {
}

.chocolove-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.chocolove-list {
}

.chocolove-list-item {
  background-color: var(--white);
}

.chocolove-img {
  width: 80px;
  height: 80px;
}

.chocolove-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.chocolove-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.btn-review {
  border: 1px solid var(--orange);
  font-weight: 600;
  font-size: 18px;
}

.btn-review:hover,
.btn-review:focus,
.btn-review:active {
  background-color: var(--orange);
  color: var(--white);
}

/* #endregion Chocolove */

/* #region Footer */
.page-footer {
  background-color: #1e1823;
}

.page-footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fd9222;
}

.page-footer-title-part {
  color: #fff;
}

.page-footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
}

.footer-social-list {
}

.footer-social-list-item {
}

.footer-social-link {
}

.footer-social-img {
  color: #fff;
  width: 24px;
  height: 24px;
}

.contacts-title {
  color: var(--white);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  color: var(--white);
}

.contacts-link-tel,
.contacts-link-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-list-item {
}

.footer-nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

/* #endregion Footer */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999999;
  transition: opacity var(--animation), visibility var(--animation);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  border-radius: 15px;
  width: 517px;
  /* min-height: 794px; */
  background-color: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
}
.close-icon {
  stroke: var(--black);
  transition: stroke var(--animation);
}
.modal-close-btn:hover .close-icon {
  stroke: var(--orange);
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 40px;
}

.modal-wrapper {
  margin-bottom: 18px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.modal-field {
  position: relative;
}

.modal-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  padding-left: 62px;
  width: 100%;
  height: 68px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
  transition: border var(--animation);
}
.modal-input:focus + .modal-icon {
  stroke: var(--orange);
}
.modal-icon {
  stroke: var(--black);
  fill: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  transition: stroke var(--animation);
}
.modal-input:focus {
  border: 1.5px solid #fd9222;
  outline: none;
}

.modal-textarea {
  resize: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px 24px;
  width: 100%;
  height: 137px;
  transition: border var(--animation);
}
.modal-textarea:focus {
  border: 1.5px solid #fd9222;
  outline: none;
}

.checkbox-wrapper {
  margin-bottom: 40px;
}

.checkbox-input {
}

.modal-label-accept {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.modal-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  transition: background-color var(--animation);
}

.privacy-link {
  text-decoration: underline;
  color: #fd9222;
}

.checkbox-input:checked + .modal-label-accept > .modal-check {
  background-color: var(--orange);
  border-color: transparent;
}

.modal-submit-btn {
  border-radius: 100px;
  padding: 14px 40px;
  width: 117px;
  height: 45px;
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
}
