:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  background-color: var(--light);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  border: 1px solid red;
}

/* #region header */
.page-header {
}

.header-nav {
}

.logo-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-part {
  font-style: italic;
}

.logo-link-img {
  width: 24px;
  height: 24px;
}

.header-nav-list {
}

.header-nav-list-item {
}

.header-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-link:hover,
.logo-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--orange);
}

.social-list {
}

.social-list-item {
  width: 40px;
  height: 40px;
  margin-bottom: 14px;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
}

.social-img {
  width: 24px;
  height: 24px;
}

/* #endregion header */

/* #region Hero */
.hero {
  background: rgba(17, 17, 17, 0.7);
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.btn-buy,
.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.btn-buy {
  background-color: #fd9222;
}

.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active {
  background-color: var(--beige);
  color: #fd9222;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-link:hover,
.hero-link:focus,
.hero-link:active,
.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  background-color: var(--violet);
}

/* .benefits-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color:var(--black);
} */

.benefits-list {
}

.benefits-list-item {
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* #endregion Benefits */

/* #region Taste */
.taste {
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.taste-title-part {
  color: #fd9222;
}

.taste-list {
}

.taste-img {
  width: 214px;
  height: 160px;
}

.taste-list-item-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* #endregion Taste */

/* #region Made */
.made {
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.made-img {
  width: 600px;
  height: 400px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.made-list {
  list-style-type: disc;
}

.made-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* #endregion Made */

/* #region Products */
.products {
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.products-list {
}

.products-list-item {
}

.products-img {
  width: 230px;
  /* height: 201px; */
}

.products-list-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-list-item-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-list-item-link {
  font-weight: 600;
  font-size: 14px;
}

/* #endregion Products */

/* #region Sellers */
.sellers {
}

.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.sellers-list {
}

.sellers-list-item {
}

.sellers-img {
  width: 368px;
  height: 464px;
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* #endregion Sellers */

/* #region Chocolove */
.chocolove {
}

.chocolove-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.chocolove-list {
}

.chocolove-list-item {
  background-color: var(--white);
}

.chocolove-img {
  width: 80px;
  height: 80px;
}

.chocolove-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.chocolove-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.btn-review {
  border: 1px solid var(--orange);
  font-weight: 600;
  font-size: 18px;
}

.btn-review:hover,
.btn-review:focus,
.btn-review:active {
  background-color: var(--orange);
  color: var(--white);
}

/* #endregion Chocolove */

/* #region Footer */
.page-footer {
  background-color: #1e1823;
}

.page-footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fd9222;
}

.page-footer-title-part {
  color: #fff;
}

.page-footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
}

.footer-social-list {
}

.footer-social-list-item {
}

.footer-social-link {
}

.footer-social-img {
  color: #fff;
  width: 24px;
  height: 24px;
}

.contacts-title {
  color: var(--white);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  color: var(--white);
}

.contacts-link-tel,
.contacts-link-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-list-item {
}

.footer-nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

/* #endregion Footer */
